body {
    font-family: 'Lato_Regular';
}

.top-nav-fixed {
    width: 100%;
    height: 45px;
    position: fixed;
    background-color: rgba(255,255,255,0.7);
    z-index: 9999;
    margin: 0 auto;
}

.tbcls td {
    width: 33.3%;
}

.nav-relative {
    width: 100%;
    height: 45px;
    position: relative;
    /*background-color: #ffd800;*/
    padding: 5px;
}

.img-logo {
    width: 150px;
}

.nav-a {
    text-decoration: none !important;
    cursor: pointer;
    padding: 5px 15px 8px 15px;
    font-size: 14px;
    font-family: 'Lato_Regular';
    color: #052A44 !important;
}

    .nav-a.active {
        border-bottom: 2px solid #4AD4FF;
    }

ul {
}

.nav-ul ul li {
    text-decoration: none;
    float: left;
    padding-right: 50px;
    padding-right: 150px;
}

.nav-ul .im {
    padding-left: 100px;
}

.nav-logo {
    padding-left: 50px;
    display: block;
    width: 350px;
    float: left;
}

.nav-ul {
    width: auto;
    display: block;
    float: left;
    padding-top: 5px;
    color: #052A44;
    font-size: 14px;
}

    .nav-ul .ls {
        padding-left: 100px;
        padding-right: 0px;
    }

.login-btn {
    width: 100px;
    height: 22px;
    text-align: center;
    background-color: #00C3FF;
    color: white;
    border: 0px;
    border-radius: 2px;
    font-family: 'Lato_Regular';
}

.nav-ul li a {
    list-style: none;
    text-decoration-style: none;
    text-decoration: none;
    color: #052A44;
}

    .nav-ul li a:hover {
        cursor: pointer;
    }

.section-1 {
    height: 100%;
    /*background-color: ActiveCaption;*/
}

.accelerate_title {
    font-family: 'Lato_Thin';
    font-size: 50px;
    color: #052A44;
}

.accelerate_title1 {
    font-family: 'Lato_Bold';
    font-size: 50px;
    color: #052A44;
}

.blue-image-bottom {
    position: relative;
    text-align: center;
    top: 135px;
}

#footer {
    bottom: 0px;
    background: transparent;
    margin-bottom: 120px;
    position: absolute;
    display: block;
    width: 100%;
    z-index: 9;
    text-align: center;
    color: #000;
}

.login-wrap .fp-tableCell {
    display: block !important;
}

.scroll-bottom {
    color: #00C3FF;
    font-family: 'Lato_Regular';
    font-size: 14px;
    position: relative;
    top: 65px;
    left: -47px;
    text-align: center;
}

.section2-header {
    background-color: #0E191F;
    height: 190px;
    position: relative;
    text-align: center;
}

.section3-header {
    background-color: white;
    height: 112px;
    position: relative;
    text-align: center;
    color: #6E7579;
}

.section4-img {
    height: 130px;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #00C3FF;
    border-radius: 10px;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #00C3FF;
}

.carousel-control:hover, .carousel-control:focus {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .9;
}

.carousel-control.cright {
    right: 0;
    left: auto;
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%) !important;
    /* background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    /* background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5))); */
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%); */
    background-repeat: repeat-x;
}

.carousel-control.cleft {
    right: 0;
    left: auto;
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%) !important;
    /* background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    /* background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5))); */
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%); */
    background-repeat: repeat-x;
}

.section5-header {
    background-color: white;
    height: 180px;
    position: relative;
    text-align: center;
}

.section5-contact-page {
    height: 400px;
    background-color: #0E191F;
    position: relative;
}

.frm-input-fields {
    height: 30px;
    font-size: 14px;
    font-family: 'Lato_Regular';
    padding: 4px;
    border-radius: 3px;
    border: none;
}

.frm-textarea {
    font-size: 14px;
    font-family: 'Lato_Regular';
    padding: 4px;
    border-radius: 3px;
    border: none;
}

.contact-form {
    position: relative;
    display: block;
    top: 30px;
    width: 65%;
    height: 200px;
    left: 200px;
}

.send-btn {
    width: 100px;
    height: 22px;
    text-align: center;
    background-color: #00C3FF;
    color: white;
    border: 0px;
    border-radius: 2px;
    font-family: 'Lato_Regular';
    position: absolute;
    bottom: 0px;
    right: 15px;
}

.aref {
    cursor: pointer;
    text-decoration: none;
    color: #0E191F;
    list-style: none;
    text-decoration-style: none;
}

.frm-ac-fields {
    height: 30px;
    border: 1px solid #B7BABC;
    border-radius: 2px;
    padding: 5px;
    font-family: 'Lato_Regular';
    font-size: 14px;
    color: #101B20;
}

.enter-btn {
    height: 40px;
    text-align: center;
    background-color: #00C3FF;
    color: white;
    border: 0px;
    border-radius: 2px;
    font-family: 'Lato_Light';
    cursor: pointer;
    font-size: 24px;
}

#infographics, #interactive, #motion {
    cursor: pointer;
}

    #infographics:hover {
        font-family: 'Lato_Bold';
    }

    #interactive:hover {
        font-family: 'Lato_Bold';
    }

    #motion:hover {
        font-family: 'Lato_Bold';
    }

#i1:hover {
}

#section1 .fp-scrollable {
}

#myCarousel .fp-tableCell {
    height: initial !important;
}



.vi-heading-light {
    font-family: 'Lato_Light';
    font-size: 50px;
    color: #0E191F;
}

.vi-heading-bold {
    font-family: 'Lato_Bold';
    font-size: 50px;
    color: #0E191F;
}

.vi-heading-regular {
    font-family: 'Lato_Regular';
    font-size: 50px;
    color: #0E191F;
}







.tri-1 {
    border-bottom: 0px solid rgba(255, 255, 255, 0);
    border-right: 0px solid rgba(255, 254, 254, 0);
}

.im-1:hover .tri-1 {
    width: 0;
    height: 0;
    border-bottom: 241px solid red;
    border-right: 409px solid rgba(255,255,255,0);
    position: relative;
    z-index: 99;
    opacity: 0.4;
    transition: ease-in .2s all;
}

.im-1-txt {
    font-family: 'Lato_Italic';
    font-size: 14px;
    display: none;
    position: absolute;
    bottom: 20px;
    text-align: justify;
    left: 5px;
    color: black;
}

.im-1:hover .im-1-txt {
    font-family: 'Lato_Italic';
    font-size: 14px;
    display: block;
    position: absolute;
    bottom: 20px;
    text-align: justify;
    left: 5px;
    color: black;
    z-index: 999999;
}

.im-1:hover .grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    /*filter: none;*/
}




.tri-2 {
    border-bottom: 0px solid rgba(255, 255, 255, 0);
    border-right: 0px solid rgba(255, 254, 254, 0);
}

.im-2:hover .tri-2 {
    width: 0;
    height: 0;
    border-bottom: 241px solid red;
    border-right: 409px solid transparent;
    position: relative;
    z-index: 99;
    opacity: 0.4;
    transition: ease-in 0.2s all;
}

.im-2-txt {
    font-family: 'Lato_Italic';
    font-size: 14px;
    display: none;
    position: absolute;
    bottom: 20px;
    text-align: justify;
    left: 5px;
    color: black;
}

.im-2:hover .im-2-txt {
    font-family: 'Lato_Italic';
    font-size: 14px;
    display: block;
    position: absolute;
    bottom: 20px;
    text-align: justify;
    left: 5px;
    color: black;
    z-index: 999999;
}

.im-2:hover .grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    /*filter: none;*/
}


.tri-3 {
    border-bottom: 0px solid rgba(255, 255, 255, 0);
    border-right: 0px solid rgba(255, 254, 254, 0);
}

.im-3:hover .tri-3 {
    width: 0;
    height: 0;
    border-bottom: 241px solid red;
    border-right: 895px solid transparent;
    position: relative;
    z-index: 99;
    opacity: 0.4;
    transition: ease-in 0.2s all;
}

.im-3-txt {
    font-family: 'Lato_Italic';
    font-size: 14px;
    display: none;
    position: absolute;
    bottom: 20px;
    text-align: justify;
    left: 20px;
    color: black;
}

.im-3:hover .im-3-txt {
    font-family: 'Lato_Italic';
    font-size: 14px;
    display: block;
    position: absolute;
    bottom: 20px;
    text-align: justify;
    left: 20px;
    color: black;
    z-index: 999999;
}

.im-3:hover .grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    /*filter: none;*/
}



.tri-4 {
    border-bottom: 0px solid rgba(255, 255, 255, 0);
    border-right: 0px solid rgba(255, 254, 254, 0);
}

.im-4:hover .tri-4 {
    width: 0;
    height: 0;
    border-bottom: 492px solid red;
    /*border-right: 440px solid transparent;*/
    border-right: 400px solid transparent;
    position: relative;
    z-index: 99;
    opacity: 0.4;
    transition: ease-in 0.2s all;
}

.im-4-txt {
    font-family: 'Lato_Italic';
    font-size: 14px;
    display: none;
    position: absolute;
    bottom: 20px;
    text-align: justify;
    left: 20px;
    color: black;
}

.im-4:hover .im-4-txt {
    font-family: 'Lato_Italic';
    font-size: 14px;
    display: block;
    position: absolute;
    bottom: 20px;
    text-align: justify;
    left: 20px;
    color: black;
    z-index: 999999;
}

.im-4:hover .grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    /*filter: none;*/
}

.img-1-txt {
    font-family: 'Lato_Italic';
    font-size: 14px;
    display: none;
    position: absolute;
    bottom: 40px;
    text-align: justify;
    left: 30px;
    color: black;
    z-index: 999999;
}





.ig-im-1 {
    overflow: hidden;
}

.ig-im-2 {
    overflow: hidden;
}

.ig-im-3 {
    overflow: hidden;
}

.ig-im-4 {
    overflow: hidden;
}

.im-1 {
    overflow: hidden;
}

.im-2 {
    overflow: hidden;
}

.im-3 {
    overflow: hidden;
}

.im-4 {
    overflow: hidden;
}

.mg-im-1, .mg-im-2, .mg-im-3, .mg-im-4 {
    overflow: hidden;
}


.project-content {
    text-align: justify;
}

.content {
    text-align: justify;
}
/*.project-image:hover{
    cursor:move;
    
}*/
.project-bg:hover .bg-dark {
    width: 100%;
    height: 0;
    border-bottom: 523px solid #000;
    border-right: 340px solid #000;
    position: relative;
    z-index: 99;
    opacity: 0.4;
    transition: ease-in 0.2s all;
    cursor: pointer;
}

.divCircle {
    color: #EE7171;
    border: 2px solid #EE7171;
    border-radius: 65%;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 20px;
    text-align: center;
}

.spanCircle {
    font-size: 5px;
    bottom: -25px;
    position: relative;
    left: 0px;
    text-align: center;
}

.crossPoint {
    width: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
}

.project-bg:hover .crossPoint {
    width: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    z-index: 9999;
}

.stProject {
    padding-left: 10px;
    padding-right: 10px;
    background: white;
    border: 1px solid #EA4E4E;
    color: #EA4E4E;
    border-radius: 2px;
}


/*Motio Graphics*/
.mg-tri-1 {
    border-bottom: 0px solid rgba(255, 255, 255, 0);
    border-right: 0px solid rgba(255, 254, 254, 0);
}

.mg-im-1:hover .mg-tri-1 {
    width: 0;
    height: 0;
    border-bottom: 241px solid #FFE069;
    border-right: 409px solid rgba(255,255,255,0);
    position: relative;
    z-index: 99;
    opacity: 0.7;
    transition: ease-in .2s all;
}

.mg-im-1-txt {
    font-family: 'Lato_Italic';
    font-size: 14px;
    display: none;
    position: absolute;
    bottom: 20px;
    text-align: justify;
    left: 5px;
    color: black;
}

.mg-im-1:hover .mg-im-1-txt {
    font-family: 'Lato_Italic';
    font-size: 14px;
    display: block;
    position: absolute;
    bottom: 20px;
    text-align: justify;
    left: 5px;
    color: black;
    z-index: 999999;
}

.mg-im-1:hover .grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    /*filter: none;*/
}




.mg-tri-2 {
    border-bottom: 0px solid rgba(255, 255, 255, 0);
    border-right: 0px solid rgba(255, 254, 254, 0);
}

.mg-im-2:hover .mg-tri-2 {
    width: 0;
    height: 0;
    border-bottom: 241px solid #FFE069;
    border-right: 409px solid transparent;
    position: relative;
    z-index: 99;
    opacity: 0.7;
    transition: ease-in 0.2s all;
}

.mg-im-2-txt {
    font-family: 'Lato_Italic';
    font-size: 14px;
    display: none;
    position: absolute;
    bottom: 20px;
    text-align: justify;
    left: 5px;
    color: black;
}

.mg-im-2:hover .mg-im-2-txt {
    font-family: 'Lato_Italic';
    font-size: 14px;
    display: block;
    position: absolute;
    bottom: 20px;
    text-align: justify;
    left: 5px;
    color: black;
    z-index: 999999;
}

.mg-im-2:hover .grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    /*filter: none;*/
}


.mg-tri-3 {
    border-bottom: 0px solid rgba(255, 255, 255, 0);
    border-right: 0px solid rgba(255, 254, 254, 0);
}

.mg-im-3:hover .mg-tri-3 {
    width: 0;
    height: 0;
    border-bottom: 241px solid #FFE069;
    border-right: 895px solid transparent;
    position: relative;
    z-index: 99;
    opacity: 0.7;
    transition: ease-in 0.2s all;
}

.mg-im-3-txt {
    font-family: 'Lato_Italic';
    font-size: 14px;
    display: none;
    position: absolute;
    bottom: 20px;
    text-align: justify;
    left: 20px;
    color: black;
}

.mg-im-3:hover .mg-im-3-txt {
    font-family: 'Lato_Italic';
    font-size: 14px;
    display: block;
    position: absolute;
    bottom: 20px;
    text-align: justify;
    left: 20px;
    color: black;
    z-index: 999999;
}

.mg-im-3:hover .grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    /*filter: none;*/
}



.mg-tri-4 {
    border-bottom: 0px solid rgba(255, 255, 255, 0);
    border-right: 0px solid rgba(255, 254, 254, 0);
}

.mg-im-4:hover .mg-tri-4 {
    width: 0;
    height: 0;
    border-bottom: 492px solid #FFE069;
    /*border-right: 440px solid transparent;*/
    border-right: 400px solid transparent;
    position: relative;
    z-index: 99;
    opacity: 0.7;
    transition: ease-in 0.2s all;
}

.mg-im-4-txt {
    font-family: 'Lato_Italic';
    font-size: 14px;
    display: none;
    position: absolute;
    bottom: 20px;
    text-align: justify;
    left: 20px;
    color: black;
}

.mg-im-4:hover .mg-im-4-txt {
    font-family: 'Lato_Italic';
    font-size: 14px;
    display: block;
    position: absolute;
    bottom: 20px;
    text-align: justify;
    left: 20px;
    color: black;
    z-index: 999999;
}

.mg-im-4:hover .grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    /*filter: none;*/
}




/*InfoGraphics*/
.ig-tri-1 {
    border-bottom: 0px solid rgba(255, 255, 255, 0);
    border-right: 0px solid rgba(255, 254, 254, 0);
}

.ig-im-1:hover .ig-tri-1 {
    width: 0;
    height: 0;
    border-bottom: 241px solid #66DBFF;
    border-right: 409px solid rgba(255,255,255,0);
    position: relative;
    z-index: 99;
    opacity: 0.7;
    transition: ease-in .2s all;
}

.ig-im-1-txt {
    font-family: 'Lato_Italic';
    font-size: 14px;
    display: none;
    position: absolute;
    bottom: 20px;
    text-align: justify;
    left: 5px;
    color: black;
}

.ig-im-1:hover .ig-im-1-txt {
    font-family: 'Lato_Italic';
    font-size: 14px;
    display: block;
    position: absolute;
    bottom: 20px;
    text-align: justify;
    left: 5px;
    color: black;
    z-index: 999999;
}

.ig-im-1:hover .grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    /*filter: none;*/
}




.ig-tri-2 {
    border-bottom: 0px solid rgba(255, 255, 255, 0);
    border-right: 0px solid rgba(255, 254, 254, 0);
}

.ig-im-2:hover .ig-tri-2 {
    width: 0;
    height: 0;
    border-bottom: 241px solid #66DBFF;
    border-right: 409px solid transparent;
    position: relative;
    z-index: 99;
    opacity: 0.7;
    transition: ease-in 0.2s all;
}

.ig-im-2-txt {
    font-family: 'Lato_Italic';
    font-size: 14px;
    display: none;
    position: absolute;
    bottom: 20px;
    text-align: justify;
    left: 5px;
    color: black;
}

.ig-im-2:hover .ig-im-2-txt {
    font-family: 'Lato_Italic';
    font-size: 14px;
    display: block;
    position: absolute;
    bottom: 20px;
    text-align: justify;
    left: 5px;
    color: black;
    z-index: 999999;
}

.ig-im-2:hover .grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    /*filter: none;*/
}


.ig-tri-3 {
    border-bottom: 0px solid rgba(255, 255, 255, 0);
    border-right: 0px solid rgba(255, 254, 254, 0);
}

.ig-im-3:hover .ig-tri-3 {
    width: 0;
    height: 0;
    border-bottom: 241px solid #66DBFF;
    border-right: 895px solid transparent;
    position: relative;
    z-index: 99;
    opacity: 0.7;
    transition: ease-in 0.2s all;
}

.ig-im-3-txt {
    font-family: 'Lato_Italic';
    font-size: 14px;
    display: none;
    position: absolute;
    bottom: 20px;
    text-align: justify;
    left: 20px;
    color: black;
}

.ig-im-3:hover .ig-im-3-txt {
    font-family: 'Lato_Italic';
    font-size: 14px;
    display: block;
    position: absolute;
    bottom: 20px;
    text-align: justify;
    left: 20px;
    color: black;
    z-index: 999999;
}

.ig-im-3:hover .grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    /*filter: none;*/
}



.ig-tri-4 {
    border-bottom: 0px solid rgba(255, 255, 255, 0);
    border-right: 0px solid rgba(255, 254, 254, 0);
}

.ig-im-4:hover .ig-tri-4 {
    width: 0;
    height: 0;
    border-bottom: 492px solid #66DBFF;
    /*border-right: 440px solid transparent;*/
    border-right: 400px solid transparent;
    position: relative;
    z-index: 99;
    opacity: 0.7;
    transition: ease-in 0.2s all;
}

.ig-im-4-txt {
    font-family: 'Lato_Italic';
    font-size: 14px;
    display: none;
    position: absolute;
    bottom: 20px;
    text-align: justify;
    left: 20px;
    color: black;
}

.ig-im-4:hover .ig-im-4-txt {
    font-family: 'Lato_Italic';
    font-size: 14px;
    display: block;
    position: absolute;
    bottom: 20px;
    text-align: justify;
    left: 20px;
    color: black;
    z-index: 999999;
}

.ig-im-4:hover .grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    /*filter: none;*/
}







.trr {
    border-bottom: 0px solid rgba(255, 255, 255, 0);
    border-right: 0px solid rgba(255, 254, 254, 0);
    left: -100%;
}


.img-info-1:hover .trr {
    width: 0;
    height: 0;
    /*border-right-width: 340px;*/
    border-style: solid;
    /*border-bottom-width: 528px;*/
    position: relative;
    z-index: 99;
    opacity: 0.7;
    transition: ease-in 0.5s all;
    cursor: pointer;
    left: -1%;
}

.img-info-1:hover .trr_red {
    border-color: transparent;
    border-bottom-color: #EE7171;
    border-right-color: transparent;
}

.img-info-1:hover .trr_yellow {
    border-color: transparent;
    border-bottom-color: #FFE069;
    border-right-color: transparent;
}

.img-info-1:hover .trr_blue {
    border-color: transparent;
    border-bottom-color: #66DBFF;
    border-right-color: transparent;
}



.img-info-1 {
    overflow: hidden;
    position: relative;
    height: 528px;
    width: 100%;
}


    .img-info-1:hover .grayscale {
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        /*filter: none;*/
        cursor: pointer;
    }

    .img-info-1:hover .img-1-txt {
        font-family: 'Lato_Italic';
        font-size: 14px;
        display: block;
        position: absolute;
        bottom: 40px;
        text-align: justify;
        left: 30px;
        color: black;
        z-index: 999999;
        cursor: pointer;
    }

.ig-im {
    overflow: hidden;
    position: relative;
    height: 225px;
    width: 100%;
}

    .ig-im:hover .trr {
        width: 0;
        height: 0;
        /*border-right-width: 340px;*/
        border-style: solid;
        /*border-bottom-width: 528px;*/
        position: relative;
        z-index: 99;
        opacity: 0.7;
        transition: ease-in 0.5s all;
        cursor: pointer;
        left: -1%;
    }

    .ig-im:hover .trr_red {
        border-color: transparent;
        border-bottom-color: #EE7171;
        border-right-color: transparent;
    }

    .ig-im:hover .trr_yellow {
        border-color: transparent;
        border-bottom-color: #FFE069;
        border-right-color: transparent;
    }

    .ig-im:hover .trr_blue {
        border-color: transparent;
        border-bottom-color: #66DBFF;
        border-right-color: transparent;
    }

    .ig-im:hover .grayscale {
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        /*filter: none;*/
        cursor: pointer;
    }

    .ig-im:hover .ig-imtxt {
        font-family: 'Lato_Italic';
        font-size: 14px;
        display: block;
        position: absolute;
        bottom: 40px;
        text-align: justify;
        left: 30px;
        color: black;
        z-index: 999999;
        cursor: pointer;
    }

.ig-im2 {
    overflow: hidden;
    position: relative;
    height: 225px;
    width: 100%;
}

    .ig-im2:hover .trr {
        width: 0;
        height: 0;
        /*border-right-width: 340px;*/
        border-style: solid;
        /*border-bottom-width: 528px;*/
        position: relative;
        z-index: 99;
        opacity: 0.7;
        transition: ease-in 0.5s all;
        cursor: pointer;
        left: -1%;
    }

    .ig-im2:hover .trr_red {
        border-color: transparent;
        border-bottom-color: #EE7171;
        border-right-color: transparent;
    }

    .ig-im2:hover .trr_yellow {
        border-color: transparent;
        border-bottom-color: #FFE069;
        border-right-color: transparent;
    }

    .ig-im2:hover .trr_blue {
        border-color: transparent;
        border-bottom-color: #66DBFF;
        border-right-color: transparent;
    }

    .ig-im2:hover .grayscale {
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        /*filter: none;*/
        cursor: pointer;
    }

    .ig-im2:hover .ig-im2txt {
        font-family: 'Lato_Italic';
        font-size: 14px;
        display: block;
        position: absolute;
        bottom: 40px;
        text-align: justify;
        left: 30px;
        color: black;
        z-index: 999999;
        cursor: pointer;
    }

.ig-im3 {
    overflow: hidden;
    position: relative;
    height: 460px;
    width: 100%;
}

    .ig-im3:hover .trr {
        width: 0;
        height: 0;
        /*border-right-width: 340px;*/
        border-style: solid;
        /*border-bottom-width: 528px;*/
        position: relative;
        z-index: 99;
        opacity: 0.7;
        transition: ease-in 0.5s all;
        cursor: pointer;
        left: -1%;
    }

    .ig-im3:hover .trr_red {
        border-color: transparent;
        border-bottom-color: #EE7171;
        border-right-color: transparent;
    }

    .ig-im3:hover .trr_yellow {
        border-color: transparent;
        border-bottom-color: #FFE069;
        border-right-color: transparent;
    }

    .ig-im3:hover .trr_blue {
        border-color: transparent;
        border-bottom-color: #66DBFF;
        border-right-color: transparent;
    }

    .ig-im3:hover .grayscale {
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        /*filter: none;*/
        cursor: pointer;
    }

    .ig-im3:hover .ig-im3txt {
        font-family: 'Lato_Italic';
        font-size: 14px;
        display: block;
        position: absolute;
        bottom: 40px;
        text-align: justify;
        left: 30px;
        color: black;
        z-index: 999999;
        cursor: pointer;
    }

.border-bottom {
    /*border-bottom:2px solid #CFD1D2;*/
}

.padding-lft {
    text-align: left;
    padding-left: 10px;
    border-bottom: 2px solid #CFD1D2;
    padding-bottom: 5px;
}

.spn-padding-lft {
    padding-left: 15px;
}

.gv-padding {
    padding: 10px;
    padding-left: 5px;
    text-align: left;
}

.gry-box {
    background-color: rgba(207, 209, 210, 0.5);
    width: 310px;
    height: 60px;
    margin-top: 10px;
    padding: 10px;
    position: relative;
    display: block;
    border-radius: 3px;
    overflow: hidden;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    cursor: pointer;
}

.gry-boxn {
    background-color: #CFD1D2;
    height: 60px;
    margin-top: 10px;
    padding: 10px;
    position: relative;
    display: block;
    border-radius: 3px;
    overflow: hidden;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    cursor: pointer;
}


/*.content1 {
    display: none;
    margin: 15px;
}*/

.gry-box:hover {
    height: 160px;
    background: white;
    border: 2px solid #B7BABC;
}


.gry-boxn:hover {
    height: 185px;
    background: white;
    border: 2px solid #B7BABC;
}

    .gry-boxn:hover .delImg {
        display: block;
        opacity: 1;
    }

    .gry-boxn:hover .accImg {
        display: block;
        opacity: 1;
    }

.delImg {
    position: absolute;
    height: 25px !important;
    margin: 0 !important;
    right: 10px;
    display: none;
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.accImg {
    position: absolute;
    bottom: 10px;
    height: 32px !important;
    margin: 0 !important;
    right: 10px;
    display: none;
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}



.shw-cont1 {
    position: absolute;
    left: 0;
    text-align: left;
    top: 55px;
    padding-left: 10px;
    /*display:none;*/
}

.shw-cont2 {
    position: absolute;
    left: 0;
    text-align: left;
    top: 100px;
    padding-left: 10px;
    /*display:none;*/
}

.shw-cont3 {
    position: absolute;
    left: 0;
    text-align: left;
    top: 145px;
    padding-left: 10px;
    /*display:none;*/
}



.add-coll-box {
    border: 2px solid #B7BABC;
    width: 310px;
    height: 60px;
    margin-top: 10px;
    padding: 10px;
    position: relative;
    display: block;
    border-radius: 3px;
    overflow: hidden;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
}

.gry-box1 {
    background-color: #CFD1D2;
    height: 60px;
    margin-top: 10px;
    padding: 10px;
    position: relative;
    display: block;
    border-radius: 3px;
    overflow: hidden;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    cursor: pointer;
}

.inner-addon {
    position: relative;
}

    /* style icon */
    .inner-addon .glyphicon {
        position: absolute;
        padding: 10px;
        pointer-events: none;
    }

/* align icon */
.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

.styled-select select {
    background: url("../imgs/down.png") no-repeat 215px;
    -webkit-appearance: none;
    background-size: 10px;
}

.search {
    width: 100%;
}

label {
    display: block;
    /* max-width: 100%; */
    /* margin-bottom: 5px; */
    /* font-weight: bold; */
}

.dataTables_filter input {
    width: 100% !important;
    padding-left: 30px;
    font-weight: 100;
    font-size: 14px;
}

.icon-cls {
    position: absolute;
    top: 7px;
    left: 25px;
    padding-right: 20px;
}


*:focus {
    outline: none !important;
    box-shadow: none !important;
}




/*Custom */

.ll24 {
    text-align: left;
    font-size: 24px;
    font-family: 'Lato_Light';
}

.ll14 {
    font-size: 14px;
    font-family: 'Lato_Regular';
}

.lr14b {
    font-size: 14px;
    font-family: 'Lato_Regular';
    color: #052a44;
}

.ll12i {
    font-family: 'Lato_Regular';
    font-size: 12px;
    font-style: italic;
}

.ll12 {
    font-family: 'Lato_Regular';
    font-size: 12px;
}

.cbfb
{
        color: black;
    font-weight: bold;
}

.btn-blue {
    font-family: 'Lato_Regular';
    font-size: 14px;
    color: #00C3FF;
    border: 2px solid #00c3ff;
    border-radius: 3px;
    cursor: pointer;
    background: white;
}

.btn-red {
    font-family: 'Lato_Regular';
    font-size: 14px;
    color: #ea4e4e;
    border: 2px solid #ea4e4e;
    border-radius: 3px;
    cursor: pointer;
    background: white;
}






.collBtn {
    position: absolute;
    left: 0px;
    top: 160px;
    width: 100%;
}


.clr-blue {
    color: #00C3FF;
}

.img-w25 {
    width: 25px;
    margin: 0 !important;
    cursor: pointer;
}

.addc-btn {
    position: absolute !important;
    left: 15px !important;
    top: 15px !important;
    border-radius: 30% !important;
}

.addcbc1 {
    text-align: left !important;
    position: absolute !important;
    left: 70px !important;
    top: 18px !important;
}

.addcbc2 {
    text-align: center !important;
    position: absolute !important;
    left: 70px !important;
    top: 85px !important;
}

.proImageHold {
    position: absolute;
    left: 5px;
    top: 5px;
    border-radius: 100px;
    background: #E7E8E9;
    padding: 8px;
    border: 1px solid grey;
}

    .proImageHold img {
        width: 30px !important;
        margin: 0px !important;
        border-radius: 60%;
    }

#CollabListDiv {
    height: 500px;
    overflow: auto;
}


.backArrow
{
        font-size: 35px;
    float: left;
    line-height: 45px;
    margin-right: 10px;
    cursor:pointer;
}