@font-face {
    font-family: 'Lato_Bold';
    src: url('../fonts/Lato-Bold.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato_BoldItalic';
    src: url('../fonts/Lato-BoldItalic.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato_Italic';
    src: url('../fonts/Lato-Italic.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato_Light';
    src: url('../fonts/Lato-Light.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato_Medium';
    src: url('../fonts/Lato-Medium.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato_Regular';
    src: url('../fonts/Lato-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato_Thin';
    src:  url('../fonts/Lato-Thin.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato_ThinItalic';
    src:  url('../fonts/Lato-ThinItalic.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
