@font-face {
  font-family: 'Gotham';
  src: url("../fonts/GothamUltra.eot");
  src: url("../fonts/GothamUltra.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamUltra.woff2") format("woff2"), url("../fonts/GothamUltra.woff") format("woff"), url("../fonts/GothamUltra.ttf") format("truetype"), url("../fonts/GothamUltra.svg#GothamUltra") format("svg");
  font-weight: 900;
  font-style: normal; }
.clear-text-attributes, .gc-june p, .gc-june div, .gc-june span, .gc-june h1, .gc-june h2, .gc-june h3, .gc-june h4, .gc-june h5, .gc-june h6 {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  line-height: normal; }

.mt-1 {
  margin-top: 5px; }

.gc-june .globe-background {
  padding-top: 60px;
  padding-bottom: 60px;
  background-position: 10%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-color: #efeff1;
  height: 100vh; }
  @media screen and (max-width: 991px) {
    .gc-june .globe-background {
      background-position: center; } }
  @media screen and (max-width: 600px) {
    .gc-june .globe-background {
      background-size: contain;
      background-position: center; } }
  .gc-june .globe-background.bg {
    background-image: url("../imgs/intro/globe-min.jpg"); }
  .gc-june .globe-background .f-table {
    display: table; }
    .gc-june .globe-background .f-table .f-row {
      display: table-row; }
      .gc-june .globe-background .f-table .f-row .f-cell {
        display: table-cell; }
        .gc-june .globe-background .f-table .f-row .f-cell .block-fix {
          display: block; }
  .gc-june .globe-background .intro-text {
    padding-left: 50px;
    padding-right: 80px;
    margin-top: 16vh; }
    @media (max-width: 560px) {
      .gc-june .globe-background .intro-text {
        margin-top: 8vh;
        padding-left: 40px;
        padding-right: 40px; } }
    .gc-june .globe-background .intro-text h1 {
      font-size: 36px;
      font-family: 'Gotham';
      font-weight: 900;
      text-transform: uppercase;
      line-height: 1.1;
      margin-bottom: 26px; }
      @media (max-width: 560px) {
        .gc-june .globe-background .intro-text h1 {
          font-size: 26px; } }
    .gc-june .globe-background .intro-text p {
      font-size: 22px;
      font-family: 'Times';
      font-weight: normal;
      text-align: justify;
      margin-bottom: 20px; }
      @media (max-width: 560px) {
        .gc-june .globe-background .intro-text p {
          font-size: 18px; } }
    .gc-june .globe-background .intro-text .register {
      color: #fff;
      background-color: #262a30;
      border-color: #262a30;
      border-radius: 0;
      padding: 8px 46px;
      margin-top: 10px;
      font-size: 18px;
      letter-spacing: 1px;
      font-family: times serif;
      float: left;
      min-width: 190px; }
    .gc-june .globe-background .intro-text .learn-more {
      background-image: url("../imgs/intro/learn-more-btn.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      min-width: 190px;
      color: #000;
      background-color: transparent;
      border-color: transparent;
      border-radius: 0;
      padding: 10px 46px;
      margin-top: 10px;
      font-size: 16px;
      font-size: 18px;
      letter-spacing: 1px;
      font-family: times serif;
      float: right; }
      @media (max-width: 480px) {
        .gc-june .globe-background .intro-text .learn-more {
          float: left; } }
.gc-june.second-section {
  height: 100vh;
  background-position: right;
  background-repeat: no-repeat;
  background-image: url("../imgs/banner.png");
  background-size: cover;
  width: 100%; }
  @media (max-width: 490px) {
    .gc-june.second-section {
      background-position: -700px; } }
  @media (max-width: 460px) {
    .gc-june.second-section {
      background-position: -740px; } }
  @media (max-width: 420px) {
    .gc-june.second-section {
      background-position: -752px; } }
  @media (max-width: 390px) {
    .gc-june.second-section {
      background-position: -770px; } }
  @media (max-width: 368px) {
    .gc-june.second-section {
      background-position: -778px; } }

#register-modal.modal.fade.in {
  background-color: #efeff0e6; }
@media (min-width: 768px) {
  #register-modal .modal-dialog {
    width: 440px;
    margin: 0px auto; } }
#register-modal .modal-dialog .modal-content {
  border: 0px;
  border-radius: 0px;
  background-color: #fffc;
  box-shadow: none;
  min-height: 100vh;
  overflow: auto;
  padding-left: 20px;
  padding-right: 20px; }
  #register-modal .modal-dialog .modal-content #registration-form {
    padding-top: 1vh; }
  #register-modal .modal-dialog .modal-content .modal-header {
    min-height: 16vh; }
  #register-modal .modal-dialog .modal-content .modal-footer {
    min-height: 12vh; }
  #register-modal .modal-dialog .modal-content .modal-body {
    min-height: calc(95vh - 28vh);
    padding-top: 0; }
  #register-modal .modal-dialog .modal-content .modal-title {
    margin: 0;
    line-height: 1.2;
    text-align: left;
    color: #000000;
    font-size: 26px;
    font-family: times;
    background-image: url("../imgs/intro/modal-header-border.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 3px;
    padding-bottom: 20px; }
  #register-modal .modal-dialog .modal-content .page-title {
    margin: 0;
    line-height: 1.2;
    text-align: left;
    color: #000000;
    font-size: 26px;
    font-family: times;
    padding-bottom: 20px; }
  #register-modal .modal-dialog .modal-content #register-carousel {
    width: 100%; }
  #register-modal .modal-dialog .modal-content label {
    padding: 6px 0px; }
    #register-modal .modal-dialog .modal-content label span {
      color: red; }
  #register-modal .modal-dialog .modal-content .third-slide label {
    display: block; }
  #register-modal .modal-dialog .modal-content .third-slide textarea.form-control.loose-fit {
    height: 38px;
    max-height: 128px;
    min-height: 38px;
    margin: 0; }
  #register-modal .modal-dialog .modal-content input, #register-modal .modal-dialog .modal-content textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    display: block; }
  #register-modal .modal-dialog .modal-content .alert {
    padding: 6px 15px; }
  #register-modal .modal-dialog .modal-content .form-control {
    height: 40px;
    padding: 6px 0px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff0;
    background-image: none;
    border: 0;
    border-radius: 0px;
    box-shadow: none;
    transition: none;
    border-bottom: 1px solid #231f20;
    margin-top: -34px;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out; }
    #register-modal .modal-dialog .modal-content .form-control.wrong {
      border-bottom: 1px solid red; }
  #register-modal .modal-dialog .modal-content textarea.form-control {
    height: 128px;
    max-height: 128px;
    min-height: 128px; }
  #register-modal .modal-dialog .modal-content textarea.form-control.loose-fit {
    height: 86px;
    max-height: 128px;
    min-height: 86px; }
  #register-modal .modal-dialog .modal-content .modal-footer {
    text-align: left;
    border-top: 0; }
    #register-modal .modal-dialog .modal-content .modal-footer .divide {
      width: 65%;
      float: left;
      display: block; }
      #register-modal .modal-dialog .modal-content .modal-footer .divide:last-child {
        width: 35%; }
      #register-modal .modal-dialog .modal-content .modal-footer .divide h5 {
        font-size: 18px;
        font-weight: normal;
        margin-top: 12px;
        text-align: right; }
  #register-modal .modal-dialog .modal-content .invisible {
    visibility: hidden; }
  #register-modal .modal-dialog .modal-content .reg-action {
    color: #fff;
    background-color: #262a30;
    border-color: #262a30;
    border-radius: 0;
    padding: 12px 46px;
    font-size: 16px;
    margin: 0; }
  #register-modal .modal-dialog .modal-content #register-prev-stage {
    padding: 12px 14px; }
  #register-modal .modal-dialog .modal-content .tick {
    text-align: center;
    margin-top: 100px; }
    #register-modal .modal-dialog .modal-content .tick img {
      width: 88px;
      display: block;
      margin: 0 auto; }
    #register-modal .modal-dialog .modal-content .tick h3 {
      font-weight: bold;
      font-size: 26px;
      text-align: center;
      text-transform: uppercase;
      margin-top: 86px;
      color: #000;
      padding-right: 5px; }
    #register-modal .modal-dialog .modal-content .tick p {
      font-size: 14px;
      text-align: center;
      color: #000;
      margin-top: 50px; }

/*# sourceMappingURL=new-style.css.map */
