.pImgHolder
{
        height: 150px ;
    overflow: hidden;
    position:relative;
}

.pImgHolder img
{
        margin: 0px !important;
    height: auto !important;
    width: 100%;
}

.shHov
{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 1s all ease;
    opacity: 0;
}

#proListTable tr td:first-child
{
	cursor:pointer;
}

.shHov img
{
       width: 70px;
    margin-top: 0px !important;
    height: 30px !important;
}

.pholder
{
    border:1px solid black;
    margin-bottom:20px;
    cursor:pointer;
      transition: 1s all ease;
      height: 256px;
}

.clr-red
{
    color:red !important;
}

.fullT
{
    width:100%;
}

.txt-lt
{
    text-align:left;
}

.projT td
{
    padding:5px;
}

.vTop
{
    vertical-align:top;
}


/*circle indicator*/

ul.indicator li {
  width: 20px;
  height: 20px;
  text-align: center;
 line-height: 20px;
  border-radius: 1em;
  background: #A8A8A8;
  margin: 0 1em;
  display: inline-block;
  color: white;
  position: relative;
}

 ul.indicator li::before{
    content: '';
    position: absolute;
    top: 9px;
    left: -40px;
    width: 40px;
    height: 3px;
    background: #A8A8A8;
    z-index: -1;
}

 ul.indicator li.active
 {
         width: 30px;
    height: 30px;
    line-height: 25px;
    border: 2px solid #A8A8A8;
 }


 ul.indicator i
 {
     font-size: 12px;
 }

ul.indicator li:first-child::before {
  display: none;
}

ul.indicator li.empty
{
    background: white;
    border: 3px solid #a8a8a8;
    line-height: 10px;
}

ul.indicator li.empty:before {
    top: 6px;
}

ul.indicator li.active:before
{
     top: 12px;
}



/*color and project type*/

.cg .line
{
    background:#EA4E4E;
    height:4px;
    width:100%;
}

.cg ul.indicator .active
{
     background:#EA4E4E;
}

.cg:hover
{
    border-color:#EA4E4E;
}

.cg:hover .shHov
{
    background:#EA4E4E;
   opacity:0.7;
}

.pholder:hover .shHov img
{
    margin-top: 60px !important;
}



.im .line
{
    background:#ffcb05;
    height:4px;
    width:100%;
}

.im:hover
{
    border-color:#ffcb05;

}

.im ul.indicator .active
{
     background:#ffcb05;
}

.im:hover .shHov
{
    background:#ffcb05;
   opacity:0.7;
}

.c .line
{
    background:#052a44;
    height:4px;
    width:100%;
}

.c ul.indicator .active
{
     background:#052a44;
}


.c:hover
{
    border-color:#052a44;

}

.c:hover .shHov
{
    background:#052a44;
   opacity:0.7;
}

.a .line
{
    background:#00C3FF;
    height:4px;
    width:100%;
}

.a ul.indicator .active
{
     background:#00C3FF;
}



.a:hover
{
    border-color:#00C3FF;

}

.a:hover .shHov
{
    background:#00C3FF;
   opacity:0.7;
}

.projT td:nth-child(3)
{
    width:90px;
}

.flt
{
    font-family:"Lato_Light";

}

.m0
{
    margin:0px;
}

.txtlt
{
    text-align:left;
}

.verNotedata
{
   text-align: left;
    height: 250px;
    overflow: auto;
    margin-top: 10px;
}

.latoBB
{
        font-family: "Lato_Bold";
    color: black;
    font-size: 18px;
}

.ptb5
{
        padding: 5px 0px 5px 0px;
}


.pgOwn
{
   margin-top: 15px;
    border-top: 2px solid #cccccc;
    padding-top: 10px;
}

.pgDat
{
    margin-top:10px;
}

.pb5
{
    padding-bottom:5px;
}


.pind
{
        text-align: center;
    margin-top: 10px;
}

.txtSmBl
{
    font-size:12px;
    color:black;
}


#ProContainer .mix{
	display: none;
}

#ProContainer{
    height:555px;
    overflow:auto;
        margin-bottom: 100px;
}

#project-details li a
{
    cursor:pointer;
}

#project-details li.not-clickable
{
    cursor:default !important;
}

.add-new-colb
{
    width: 100%;
    height: 100%;
    cursor: pointer
}