@charset "UTF-8";
.brand-primary-blue {
  background-color: #064ca2; }

.brand-secondary-blue {
  background-color: #072e4c; }

nav img, .footer img {
  width: calc(100% + 30px);
  margin-left: -15px; }

.dilgp-animation-canvas {
  min-height: 100vh;
  font-size: 100%; }
  .dilgp-animation-canvas .explore h1 {
    color: #6a0032;
    margin-top: 15vh;
    font-size: 300%;
    font-weight: 500;
    text-align: center; }
  .dilgp-animation-canvas .explore h2 {
    color: #009887;
    max-width: 50%;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    font-size: 200%;
    font-weight: bold;
    text-align: center; }
  .dilgp-animation-canvas .explore .explore-btn {
    background-image: url("../images/loading-cube.png");
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    flex: 0 0 12.5%;
    max-width: 12.5%;
    min-height: 350px;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    -webkit-animation: explore-move 5s infinite;
    animation: explore-move 3s infinite;
    position: relative;
    left: -15px; }
@-webkit-keyframes explore-move {
  0% {
    left: -15px; }
  50% {
    left: 15px; }
  100% {
    left: -15px; } }
@keyframes explore-move {
  0% {
    left: -15px; }
  50% {
    left: 15px; }
  100% {
    left: -15px; } }
  .dilgp-animation-canvas .explore p {
    color: #58595b;
    font-size: 120%;
    font-weight: 500;
    max-width: 60%;
    margin-top: -10vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  .dilgp-animation-canvas .video video {
    margin-top: 5vh;
    width: 100%;
    max-width: 100%;
    min-width: 100%; }
  .dilgp-animation-canvas .intro header, .dilgp-animation-canvas .intro .intractive-portal aside .asset-class header, .dilgp-animation-canvas .intractive-portal aside .asset-class .intro header, .dilgp-animation-canvas .intro .intractive-portal aside .regions header, .dilgp-animation-canvas .intractive-portal aside .regions .intro header {
    width: 100%;
    padding-top: 3vh;
    padding-bottom: 3vh; }
  .dilgp-animation-canvas .intro img, .dilgp-animation-canvas .intro object {
    width: calc(100% + 30px);
    margin-left: -15px; }
  .dilgp-animation-canvas .intro .footer-control {
    background-color: #f4fbfb;
    margin-top: -5px; }
    .dilgp-animation-canvas .intro .footer-control .row {
      margin-top: 3vh;
      margin-bottom: 3vh; }
    .dilgp-animation-canvas .intro .footer-control .btn {
      border-radius: 20px; }
    .dilgp-animation-canvas .intro .footer-control span {
      font-size: 110%;
      font-weight: 500;
      color: black;
      padding: 10px; }
    .dilgp-animation-canvas .intro .footer-control .go-back, .dilgp-animation-canvas .intro .footer-control .go-forward {
      cursor: pointer;
      display: inline-block; }
  .dilgp-animation-canvas .intractive-portal {
    padding: 0; }
    .dilgp-animation-canvas .intractive-portal aside {
      display: flex;
      flex: 0 0 20%;
      max-width: 20%;
      flex-wrap: wrap; }
      .dilgp-animation-canvas .intractive-portal aside .filters {
        text-align: center;
        padding: 0px 5px;
        cursor: pointer; }
        .dilgp-animation-canvas .intractive-portal aside .filters.active span {
          top: 24px;
          opacity: 1;
          background-color: #009887;
          box-shadow: -6px 6px 12px #41001f; }
        .dilgp-animation-canvas .intractive-portal aside .filters img {
          width: 64px;
          position: relative;
          z-index: 1; }
        .dilgp-animation-canvas .intractive-portal aside .filters span {
          position: absolute;
          top: 38px;
          left: 38px;
          z-index: 0;
          background-color: #009887;
          opacity: 0;
          display: block;
          width: 38px;
          height: 38px;
          border-radius: 4px;
          transform-origin: center;
          transform: rotateX(48deg) rotateY(0deg) rotateZ(-43deg);
          transition: all;
          transition-duration: 0.25s;
          transition-timing-function: ease-in-out; }
        .dilgp-animation-canvas .intractive-portal aside .filters h6 {
          font-size: 80%;
          font-weight: normal;
          color: white;
          line-height: 1;
          position: relative;
          z-index: 2;
          margin: 0; }
      .dilgp-animation-canvas .intractive-portal aside header, .dilgp-animation-canvas .intractive-portal aside .asset-class header, .dilgp-animation-canvas .intractive-portal aside .regions header {
        margin-top: -15px;
        margin-bottom: 6px;
        background-color: red;
        flex: 0 0 100%;
        max-width: 100%;
        box-shadow: 0px 4px 3px #00000038; }
        .dilgp-animation-canvas .intractive-portal aside header h5, .dilgp-animation-canvas .intractive-portal aside .asset-class header h5, .dilgp-animation-canvas .intractive-portal aside .regions header h5 {
          color: #fff;
          font-size: 100%;
          font-weight: normal;
          padding-top: 10px;
          padding-bottom: 5px; }
        .dilgp-animation-canvas .intractive-portal aside header span, .dilgp-animation-canvas .intractive-portal aside .asset-class header span, .dilgp-animation-canvas .intractive-portal aside .regions header span {
          position: absolute;
          right: 8px;
          top: 5px;
          padding: 4px 9px;
          color: #fff;
          border-radius: 4px;
          cursor: pointer;
          transition: all;
          transition-duration: 0.25s;
          transition-timing-function: ease-in-out; }
      .dilgp-animation-canvas .intractive-portal aside .asset-class {
        padding: 15px;
        background-image: url("../images/asset-class.svg");
        background-repeat: repeat; }
        .dilgp-animation-canvas .intractive-portal aside .asset-class header {
          background-color: #37001a;
          border-bottom: 1px solid #37001a; }
          .dilgp-animation-canvas .intractive-portal aside .asset-class header span:hover {
            background-color: #FFF;
            color: #000; }
      .dilgp-animation-canvas .intractive-portal aside .regions {
        padding: 15px;
        background-image: url("../images/regions.svg"); }
        .dilgp-animation-canvas .intractive-portal aside .regions header {
          background-color: #00655a;
          border-bottom: 1px solid #00655a; }
          .dilgp-animation-canvas .intractive-portal aside .regions header span:hover {
            background-color: #FFF;
            color: #000; }
        .dilgp-animation-canvas .intractive-portal aside .regions .filters.active button {
          background-color: #00776a;
          border: 1px solid #006a5e; }
          .dilgp-animation-canvas .intractive-portal aside .regions .filters.active button::after {
            content: '';
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 70%;
            position: absolute;
            right: 22px;
            top: 15px;
            border-radius: 2px;
            padding: 2px 5px;
            background-color: #00655a; }
        .dilgp-animation-canvas .intractive-portal aside .regions .filters button {
          width: calc(100% - 20px);
          padding-bottom: 4px;
          cursor: pointer;
          margin-left: 10px;
          margin-right: 10px;
          margin-top: 9px;
          text-align: left;
          color: white;
          border-radius: 3px;
          transition: all;
          transition-duration: 0.25s;
          transition-timing-function: ease-in-out;
          background-color: #008b7c;
          border: 1px solid #007c6e;
          box-shadow: none;
          outline: 0px; }
    .dilgp-animation-canvas .intractive-portal .intractive-canvas {
      flex: 0 0 75%;
      max-width: 75%;
      max-height: 1081px;
      padding-left: 15px;
      padding-right: 15px;
      transition: all;
      transition-duration: 0.25s;
      transition-timing-function: ease-in-out; }
      .dilgp-animation-canvas .intractive-portal .intractive-canvas img {
        width: calc( 100% + 30px );
        position: relative;
        left: -15px;
        top: 240px;
        z-index: 0; }
      .dilgp-animation-canvas .intractive-portal .intractive-canvas .year-anim {
        position: relative;
        z-index: 1;
        top: -471px;
        left: 182px;
        transform: scale(0.85); }
    .dilgp-animation-canvas .intractive-portal .project-details-btn {
      display: flex;
      flex: 0 0 5%;
      max-width: 5%;
      cursor: pointer;
      background-color: #009887; }
      .dilgp-animation-canvas .intractive-portal .project-details-btn .name-slip {
        display: flex;
        position: relative;
        max-width: 15px;
        font-size: 130%;
        font-weight: 400;
        word-break: break-all;
        text-transform: uppercase;
        text-align: center;
        line-height: 1.4;
        color: white;
        margin: calc(50% - (15px / 2)); }
    .dilgp-animation-canvas .intractive-portal .project-details {
      max-width: 5%;
      position: relative;
      width: 100%;
      background-color: #009887; }
      .dilgp-animation-canvas .intractive-portal .project-details .tablePannel {
        width: 0px;
        height: 1081px;
        top: 0px;
        right: 0px;
        float: right;
        position: relative;
        z-index: 1;
        display: flex;
        background-color: #009887; }
        .dilgp-animation-canvas .intractive-portal .project-details .tablePannel.white {
          background-color: white; }
        .dilgp-animation-canvas .intractive-portal .project-details .tablePannel.animation-forward {
          animation: fillTablePanel;
          animation-duration: 1.2s;
          animation-timing-function: ease-in-out;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
          animation-play-state: running;
          animation-delay: 0.1s; }
        .dilgp-animation-canvas .intractive-portal .project-details .tablePannel.animation-backward {
          animation: emptyTablePanel;
          animation-duration: 0.6s;
          animation-timing-function: ease-in-out;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
          animation-play-state: running;
          animation-delay: 0s; }
@keyframes fillTablePanel {
  0% {
    width: 0px;
    border-radius: 100% 0% 0% 100%;
    background-color: #009887; }
  75% {
    width: 1600%;
    border-radius: 0% 0% 0% 0%;
    background-color: #009887; }
  100% {
    width: 1600%;
    border-radius: 0% 0% 0% 0%;
    background-color: white; } }
@keyframes emptyTablePanel {
  100% {
    width: 0px;
    border-radius: 100% 0% 0% 100%;
    background-color: #009887; }
  0% {
    width: 1600%;
    border-radius: 0% 0% 0% 0%;
    background-color: white; } }
      .dilgp-animation-canvas .intractive-portal .project-details .tablePannelContent {
        display: block;
        max-width: 100%;
        width: 100%;
        flex-wrap: wrap; }
        .dilgp-animation-canvas .intractive-portal .project-details .tablePannelContent header {
          background-color: white;
          max-height: 70px;
          box-shadow: -3px 0px 6px rgba(0, 0, 0, 0.2784313725); }
          .dilgp-animation-canvas .intractive-portal .project-details .tablePannelContent header .btn {
            margin: 10px 10px 5px 0px;
            border-radius: 20px;
            padding: 3px 9px; }
          .dilgp-animation-canvas .intractive-portal .project-details .tablePannelContent header h4 {
            margin: 5px 10px 5px 0px;
            padding-top: 7px;
            font-size: 125%; }
        .dilgp-animation-canvas .intractive-portal .project-details .tablePannelContent .tableView {
          background-color: white;
          padding-top: 15px;
          padding-bottom: 15px;
          overflow: auto;
          scroll-behavior: smooth;
          max-height: 1003px;
          min-height: 1003px;
          font-size: 80%; }
          .dilgp-animation-canvas .intractive-portal .project-details .tablePannelContent .tableView .dataTables_filter {
            display: none; }
          .dilgp-animation-canvas .intractive-portal .project-details .tablePannelContent .tableView #projects {
            transition: all;
            transition-timing-function: ease-in-out;
            transition-duration: 0.5s; }
            .dilgp-animation-canvas .intractive-portal .project-details .tablePannelContent .tableView #projects .pProjects {
              min-width: 190px;
              max-width: 190px;
              width: 190px; }
            .dilgp-animation-canvas .intractive-portal .project-details .tablePannelContent .tableView #projects .pStage {
              min-width: 58px;
              max-width: 58px;
              width: 58px; }
            .dilgp-animation-canvas .intractive-portal .project-details .tablePannelContent .tableView #projects .pInfrastructure {
              min-width: 80px;
              max-width: 80px;
              width: 80px; }
            .dilgp-animation-canvas .intractive-portal .project-details .tablePannelContent .tableView #projects .pAgency {
              min-width: 64px;
              max-width: 64px;
              width: 64px; }
            .dilgp-animation-canvas .intractive-portal .project-details .tablePannelContent .tableView #projects .pRegion {
              min-width: 64px;
              max-width: 64px;
              width: 64px; }
            .dilgp-animation-canvas .intractive-portal .project-details .tablePannelContent .tableView #projects .pTCost {
              min-width: 70px;
              max-width: 70px;
              width: 70px; }
            .dilgp-animation-canvas .intractive-portal .project-details .tablePannelContent .tableView #projects .pExpenditure {
              min-width: 64px;
              max-width: 64px;
              width: 64px; }
            .dilgp-animation-canvas .intractive-portal .project-details .tablePannelContent .tableView #projects .pFundingS1 {
              min-width: 50px;
              max-width: 50px;
              width: 50px; }
            .dilgp-animation-canvas .intractive-portal .project-details .tablePannelContent .tableView #projects .pFundingS2 {
              min-width: 50px;
              max-width: 50px;
              width: 50px; }
            .dilgp-animation-canvas .intractive-portal .project-details .tablePannelContent .tableView #projects .pFundingS3 {
              min-width: 50px;
              max-width: 50px;
              width: 50px; }
            .dilgp-animation-canvas .intractive-portal .project-details .tablePannelContent .tableView #projects .pFundingS4 {
              min-width: 50px;
              max-width: 50px;
              width: 50px; }

/*# sourceMappingURL=style.css.map */
